[ui-sref],
[ng-click],
[uib-dropdown-toggle]{
  cursor: pointer;
}

a[disabled] {
  pointer-events: none;
}

textarea {
  resize:vertical;
}

.pagination {
  margin-top:0;
}

.label {
  &[ng-repeat] {
    margin-right:3px;
    display:inline-block;
  }
}

.fa {
  &.success {
    color:@brand-success;
  }
  &.warning {
    color:@brand-warning;
  }
  &.info {
    color:@brand-info;
  }
  &.danger {
    color:@brand-danger;
  }
}

li,
li a,
.list-group-item {
  > i:not(.fa-caret-down) {
    width:1em;
    text-align:center;
    margin-right:3px;
  }
}

.no-matches {
  .panel;
  .panel-default;
  .panel-body;
  color:@text-muted;
  text-align:center;
}

// Overriding default bootstrap navbar behavior - we aren't using the default nav collapse UX
.navbar-header,
.navbar-nav > li {
  float: left;
}
.navbar-left {
  float: left;
  float: left !important;
}
.navbar-right {
  float: right;
  float: right !important;
  margin-right: -15px;
}
.navbar-toggle {
  float: left;
  margin-left: @navbar-padding-horizontal;
}

// IE11 image height hack
.c-product-card {
    .c-product-card__img {
        min-height: 1%;
    }
}
.c-category-card {
    .c-category-card__img {
        min-height: 1%;
    }
}

// slick img carousel
.slick-track {
  display: flex;
}
.slick-slide {
  height: auto;
  .slick-initialized & {
    display: flex;
  }
  .carousel-img-wrap {
    margin: 0 auto;
    display: flex;
    // width: 100%;
    // height: 100%;
    img {
      // width: 100%;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      max-width: 100%;
      align-self: center;
      margin: 0 auto;
    }
  }
}
.c-product-images__nav {
  .slick-slide {
    padding-left: @grid-gutter-width / 6;
    padding-right: @grid-gutter-width / 6;
    .thumbnail {
      margin-bottom: 0;
      margin: 0 auto;
      display: flex;
      img {
        max-width: 100%;
        align-self: center;
        margin: 0 auto;
      }
    }
  }
}