<article>
    <!-- Category List -->
    <div ng-if="categoryBrowse.categoryList.Items.length">
        <h3 class="page-header">{{categoryBrowse.selectedCategory.Name || 'Categories' }}</h3>
        <b class="pull-right">{{categoryBrowse.getNumberOfResults('categoryList')}}</b><br>
        <div class="row l-category-grid">
            <div class="col-sm-6 col-md-3 col-lg-2 l-category-grid__item" ng-repeat="category in categoryBrowse.categoryList.Items">
                <div class="thumbnail c-category-card" ng-click="categoryBrowse.updateCategoryList(category.ID)">
                    <img class="img-responsive c-category-card__img" ng-src="{{category.xp.image.URL || 'http://placehold.it/300x300?text=' + category.Name}}">
                    <div class="caption c-category-card__body">
                        <h3 class="c-category-card__title">{{category.Name || category.ID}}</h3>
                        <p class="c-category-card__descrip" ng-if="category.Name">{{category.ID}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category List Pagination -->
    <uib-pagination 
        class="pagination-sm pull-right hidden-xs"
        boundary-links="categoryBrowse.categoryList.Meta.TotalPages > 5" 
        max-size="5" total-items="categoryBrowse.categoryList.Meta.TotalCount" 
        items-per-page="categoryBrowse.categoryList.Meta.PageSize" 
        ng-model="categoryBrowse.categoryList.Meta.Page"
        ng-change="categoryBrowse.changeCategoryPage(categoryBrowse.categoryList.Meta.Page)" 
        ng-if="categoryBrowse.categoryList.Meta.TotalPages > 1">
    </uib-pagination>
    <button type="button"
        class="btn btn-default btn-block btn-lg visible-xs"
        ng-show="categoryBrowse.categoryList.Meta.Page < categoryBrowse.categoryList.Meta.TotalPages"
        ng-click="categoryBrowse.loadMoreCategories()">Load More Categories</button>

    <!-- Product List -->
    <div ng-if="categoryBrowse.productList.Items.length">
        <h3 class="page-header">{{categoryBrowse.productList.Items.length > 1 ? 'Products' : 'Product'}}</h3>
        <b class="pull-right">{{categoryBrowse.getNumberOfResults('productList')}}</b><br>
        <div class="row l-product-grid">
            <div class="col-sm-6 col-md-4 col-lg-3 l-product-grid__item"
                 ng-repeat="product in categoryBrowse.productList.Items"
                 ng-include="'common/templates/card.product.html'">
            </div>
        </div>
    </div>

    <!-- Product List Pagination -->
    <uib-pagination 
        class="pagination-sm pull-right hidden-xs"
        boundary-links="categoryBrowse.productList.Meta.TotalPages > 5" 
        max-size="5" total-items="categoryBrowse.productList.Meta.TotalCount" 
        items-per-page="categoryBrowse.productList.Meta.PageSize" 
        ng-model="categoryBrowse.productList.Meta.Page"
        ng-change="categoryBrowse.changeProductPage(categoryBrowse.productList.Meta.Page)" 
        ng-if="categoryBrowse.productList.Meta.TotalPages > 1">
    </uib-pagination>
    <button type="button"
        class="btn btn-default btn-block btn-lg visible-xs"
        ng-show="categoryBrowse.productList.Meta.Page < categoryBrowse.productList.Meta.TotalPages"
        ng-click="categoryBrowse.loadMoreProducts()">Load More Products</button>

    <!-- No Results -->
    <div ng-if="!categoryBrowse.productList.Items.length && !categoryBrowse.categoryList.Items.length">
        <div class="page-header">
            <h3>No Results</h3>
        </div>
        <div class="no-matches">
            No products or categories
        </div>
    </div>
</article>