.c-productsearch {
  position:relative;
  .form-group {
    margin:0;
  }
  .dropdown-menu {
    border-top:0;
    left:0;
    top:100%;
    right:0;
  }
  li.active {
    small {
      color:white;
    }
  }
  input {
    &[aria-expanded="true"] {
      .border-bottom-radius(0);
    }
  }
}

.c-typeaheadnotify {
  .dropdown-menu;
  display:block;
  padding:@grid-gutter-width/2;
  margin:0;
  border-top:0;
  left:0;
  right:0;
  .border-top-radius(0);
  & + input {
    .border-bottom-radius(0);
  }
  &.c-typeaheadnotify--noresults {
    text-align:center;
    font-style:italic;
  }
  &.c-typeaheadnotify--loading {
    height:50px;
    & ~ .dropdown-menu {
      display:none !important;
    }
  }
}

