// product search
.c-productsearch {
  position: relative;
  .form-group {
    margin: 0;
  }
  .dropdown-menu {
    // border-top: 0;
    // left: 0;
    // top: 100%;
    // right: 0;
  }
  li.active {
    small {
      color: white;
    }
  }
  input {
    &[aria-expanded="true"] {
      // .border-bottom-radius(0);
    }
  }
}
