.c-topnav {
  .oc-flex-layout.horizontal;
  .oc-flex-layout.center;
  .oc-flex-layout.wrap;
  .oc-flex-layout.between-justified;
  .container>& {
    margin-left: -@navbar-padding-horizontal;
    margin-right: -@navbar-padding-horizontal;
  }
  &__item {
    display: inline-block;
    padding: @navbar-padding-vertical @navbar-padding-horizontal;
    line-height: @line-height-computed;
    a {
      text-decoration: none;
      color: @navbar-default-link-color;
    }
  }
  &__brand {
    order: 0;
    font-family: @headings-font-family;
    font-size: 1.2em;
    font-weight: bold;
    height: @navbar-height;
    a {
      color: @navbar-default-brand-color;
    }
    &:hover,
    &:focus {
      text-decoration: none;
    }
    >img {
      display: block;
    }
    @media(max-width:@screen-xs-max) {}
  }
  &__search {
    @media (min-width: @screen-md-min) {
      .oc-flex-layout.flex-auto;
      padding-top: @navbar-padding-vertical - 7px;
      padding-bottom: @navbar-padding-vertical - 7px;
      @shadow: inset 0 1px 0 rgba(255, 255, 255, .1),
      0 1px 0 rgba(255, 255, 255, .1);
      .box-shadow(@shadow);
    }
  }
  &__cart {
    position: relative;
    .badge {
      position: absolute;
      left: 5px;
      bottom: 5px;
      background-color: @brand-danger;
      color: white;
    }
  }
}