<div id="heart">
    <button ng-click="markAs(!isFavorite)"  class="glyphicons glyphicons-heart"
            ng-class="{'glyphicon-heart' : favoriteProduct.addToFavorite() , 'glyphicon-heart-empty' : !favoriteProduct.removeFromFavorite() }">
    </button>
    <button class="btn btn-default" ng-click="favoriteProduct.addFavoriteProduct()">
        <!--<div ng-if="!favoriteProduct.heartToggle">-->
            <!--<i class="fa fa-heart" aria-hidden="true"></i>-->
        <!--</div>-->
        <div>
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
    </button>
</div>
