<div class="c-product-card">
    <div class="c-product-card__body" ui-sref="productDetail({productid: productCard.product.ID})">
        <!--Product Image-->
        <div class="c-product-card__img-wrap">
            <button class="btn btn-default btn-sm c-product-card__quickview-btn" ng-if="productCard.currentOrder" oc-product-quick-view product="productCard.product" current-order="productCard.currentOrder" oc-prevent-click>Quick View</button>
            <img class="img-responsive c-product-card__img" ng-src="{{productCard.product.xp.image.URL || 'http://placehold.it/300x300'}}"/>
        </div>
        <!--Product Info-->
        <p class="c-product-card__name">{{productCard.product.Name || productCard.product.ID}}<br><small class="text-muted c-product-card__id" ng-if="productCard.product.Name">{{productCard.product.ID}}</small>
        </p>
        <p class="text-primary c-product-card__price" ng-if="productCard.product.PriceSchedule">
            {{productCard.product.PriceSchedule.PriceBreaks[0].Price | currency}}</b> 
            <small class="text-muted" ng-if="productCard.product.PriceSchedule.PriceBreaks[0].Quantity > 1 || productCard.product.PriceSchedule.PriceBreaks.length > 1">x {{productCard.product.PriceSchedule.PriceBreaks[0].Quantity}}</small>
        </p>
    </div>
    <div ng-if="productCard.currentOrder">
        <form name="OCProductForm" prevent-click>
            <oc-quantity-input product="productCard.product" size="sm" ng-if="!(productCard.product.SpecCount > 0) && productCard.product.PriceSchedule"></oc-quantity-input>
            <div class="btn-group btn-group-justified c-product-card__btn-group" role="group">
                <div class="btn-group c-product-card__btn" role="group">

                    <!--Add to Cart-->
                    <button type="button" ng-click="productCard.addToCart()" 
                            ng-if="productCard.product.SpecCount === 0 && productCard.product.PriceSchedule"
                            class="btn btn-sm btn-primary" 
                            ng-disabled="!productCard.product.Quantity">Add to Cart</button>

                    <!--Choose Specs-->
                    <button type="button" ui-sref="productDetail({productid: productCard.product.ID})"
                            ng-if="productCard.product.SpecCount > 0 && productCard.product.PriceSchedule"
                            class="btn btn-sm btn-default">Choose Specs</button>
                    
                    <!--View only product-->
                    <button type="button" ui-sref="productDetail({productid: productCard.product.ID})"
                            ng-if="!productCard.product.PriceSchedule"
                            class="btn btn-sm btn-default">View Product</button>
                </div>
                <div class="btn-group c-product-card__favorite-btn" role="group">
                    <button class="btn btn-sm btn-favorite" 
                            oc-favorite-product
                            product="productCard.product" 
                            favorite-class="faved" 
                            non-favorite-class="unfaved">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>