<!--TODO: unecessary div added to account for flex bug on padding hack-->
<div>
    <!--Product Image-->
    <div class="c-product-card__img-wrap">
        <a ui-sref="productDetail({productid: productCard.product.ID})">
            <img class="img-responsive c-product-card__img" ng-src="{{productCard.product.xp.image.URL || 'http://placehold.it/300x300'}}"/>
        </a>
    </div>
</div>
<div class="c-product-card__body">
    <!--Product Info-->
    <div class="text-right c-product-card__icons hidden-xs" oc-prevent-click>
        <i class="fa fa-eye text-primary" oc-product-quick-view product="productCard.product" current-order="productCard.currentOrder"></i>
        <i class="fa" oc-favorite-product current-user="productCard.currentUser" product="productCard.product" favorite-class="fa-heart" non-favorite-class="fa-heart-o"></i>
    </div>
    <h5 class="c-product-card__name">{{productCard.product.Name || productCard.product.ID}}<br><small class="text-muted c-product-card__id" ng-if="productCard.product.Name">{{productCard.product.ID}}</small>
    </h5>
    <h4 class="text-primary c-product-card__price">{{productCard.product.PriceSchedule.PriceBreaks[0].Price | currency}}</b> <small class="text-muted">x {{productCard.product.PriceSchedule.PriceBreaks[0].Quantity}}</small></h4>
</div>
<div>
    <!--Choose Specs-->
    <div class="form-group" ng-if="productCard.product.SpecCount > 0">
        <button type="button" class="btn btn-block btn-primary" ui-sref="productDetail({productid: productCard.product.ID})">Choose Specs</button>
    </div>
    <!--Add to Cart-->
    <form ng-if="!(productCard.product.SpecCount > 0)" name="OCProductForm" class="c-product-card__add-to-cart-btn" prevent-click>
        <oc-quantity-input product="productCard.product"></oc-quantity-input>
        <div class="form-group">
            <button ng-click="productCard.addToCart()" class="btn btn-sm btn-block btn-primary" ng-disabled="!productCard.product.Quantity">Add to Cart</button>
        </div>
    </form>
</div>