<div class="c-product-card__body" ui-sref="productDetail({productid: productCard.product.ID})">
    <!--TODO: unecessary div added to account for flex bug on padding hack-->
    <div>
        <!--Product Image-->
        <div class="c-product-card__img-wrap">
            <button class="btn btn-default btn-sm c-product-card__quickview-btn" oc-product-quick-view product="productCard.product" current-order="productCard.currentOrder" oc-prevent-click>Quick View</button>
            <img class="img-responsive c-product-card__img" ng-src="{{productCard.product.xp.image.URL || 'http://placehold.it/300x300'}}"/>
        </div>
    </div>
    <!--Product Info-->
    <h5 class="c-product-card__name">{{productCard.product.Name || productCard.product.ID}}<br><small class="text-muted c-product-card__id" ng-if="productCard.product.Name">{{productCard.product.ID}}</small>
    </h5>
    <h4 class="text-primary c-product-card__price" ng-if="productCard.product.PriceSchedule">
        {{productCard.product.PriceSchedule.PriceBreaks[0].Price | currency}}</b> 
        <small class="text-muted">x {{productCard.product.PriceSchedule.PriceBreaks[0].Quantity}}</small>
    </h4>
</div>
<div>
    <!--View only product-->
    <div ng-if="!productCard.product.PriceSchedule">
        <button type="button" class="btn btn-block btn-sm btn-default" ui-sref="productDetail({productid: productCard.product.ID})">View Product</button>
    </div>
    <!--Choose Specs-->
    <div ng-if="productCard.product.SpecCount > 0 && productCard.product.PriceSchedule">
        <button type="button" class="btn btn-block btn-sm btn-default" ui-sref="productDetail({productid: productCard.product.ID})">Choose Specs</button>
    </div>
    <!--Add to Cart-->
    <form ng-if="!(productCard.product.SpecCount > 0) && productCard.product.PriceSchedule" name="OCProductForm" class="c-product-card__add-to-cart-btn" prevent-click>
        <oc-quantity-input product="productCard.product"></oc-quantity-input>
        <div class="btn-group btn-group-justified c-product-card__add-to-cart-btn-group" role="group" aria-label="...">
            <div class="btn-group c-product-card__add-to-cart-btn" role="group">
                <button ng-click="productCard.addToCart()" class="btn btn-sm btn-block btn-primary" ng-disabled="!productCard.product.Quantity">Add to Cart</button>
            </div>
            <div class="btn-group c-product-card__favorite-btn-group" role="group">
                <button class="btn btn-sm btn-block btn-favorite" oc-favorite-product current-user="productCard.currentUser" product="productCard.product" favorite-class="faved" non-favorite-class="unfaved">
                </button>
            </div>
        </div>
    </form>
</div>