<form name="repeatOrderModalForm" ng-submit="repeatModal.submit(repeatModal.validLI, repeatModal.orderid)" cg-busy="repeatModal.loading">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="repeatModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Reorder</h3>
    </div>
    <div class="modal-body">
        <div ng-if="!repeatModal.invalidLI.length" class="alert alert-success">
            All line items are valid to reorder
        </div>
        <div ng-if="!repeatModal.validLI.length" class="alert alert-danger">
            None of the line items on this order are available for reorder.
        </div>
        <div ng-if="repeatModal.invalidLI.length && repeatModal.validLI.length">
            <div class="alert alert-warning">
                <strong>Warning</strong> The following line items are not available for reorder, clicking add to cart will <strong>only</strong> add valid line items.
            </div>
            <div class="panel panel-default table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Product ID</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="li in repeatModal.invalidLI track by $index">
                        <td>{{li.ProductID}}</td>
                        <td>{{li.Quantity}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" ng-disabled="!repeatModal.validLI.length" class="btn btn-primary btn-block">Add to Cart</button>
    </div>
</form>