<div class="row">
	<aside class="col-md-3">
		<ul class="nav nav-pills nav-stacked"  hl-sticky anchor="top" offset-top="70" media-query="min-width: 992px">
			<li ui-sref-active="active">
				<a href="" ui-sref=".information">My Account</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="myAddresses">Personal Addresses</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="myPayments">Payment Methods</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="favoriteProducts">Favorite Products</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="myOrders">Order History</a>
			</li>
		</ul>
	</aside>
	<article class="col-md-9" ui-view></article>
</div>