<div class="modal-body">
    <form name="ConfirmPasswordForm" ng-submit="confirmPassword.submit()">
        <div class="form-group">
            <label>Please confirm your password</label>
            <input type="password" ng-model="confirmPassword.password" class="form-control" autofocus required />
        </div>
        <button class="btn btn-primary" type="submit" ng-disabled="ConfirmPasswordForm.$invalid">Submit</button>
        <button class="btn btn-default" type="button" ng-click="confirmPassword.cancel()">Cancel</button>
    </form>
</div>