<form name="confirmPasswordModal.form" ng-submit="confirmPasswordModal.submit()">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="confirmPasswordModal.cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Your Password</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="ConfirmPassword">Please enter your password to continue</label>
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" ng-model="confirmPasswordModal.password" class="form-control"
                autofocus required />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-block" type="submit" ng-disabled="confirmPasswordModal.form.$invalid">Update Profile</button>
    </div>
</form>