<div cg-busy="carouselLoading" ng-if="product.xp && product.xp.additionalImages && product.xp.additionalImages.length">
    <div id="ImageMain" class="row c-product-slider">
        <div class="col-xs-12 thumbnail" ng-repeat="images in product.xp.additionalImages track by $index">
            <img ng-src="{{images.URL}}" ng-click="openImageModal($index)"/>
        </div>
    </div>
    <br>
    <div id="ImageNav" class="row c-product-slider">
        <div class="col-xs-12 thumbnail" ng-repeat="images in product.xp.additionalImages track by $index">
            <img ng-src="{{images.URL}}" />
        </div>
    </div>
</div>