<div cg-busy="carouselLoading">
    <!--IMAGE CAROUSEL-->
    <div ng-if="product.xp && product.xp.additionalImages && product.xp.additionalImages.length">
        <div id="ImageMain" class="row c-product-slider">
            <div class="col-xs-12 thumbnail" ng-repeat="images in product.xp.additionalImages track by $index">
                <img ng-src="{{images.URL}}" ng-click="openImageModal(product.xp.additionalImages, $index)"/>
            </div>
        </div>
        <br>
        <div id="ImageNav" class="row c-product-slider">
            <div class="col-xs-12 thumbnail" ng-repeat="images in product.xp.additionalImages track by $index">
                <img ng-src="{{images.URL}}" />
            </div>
        </div>
    </div>
    <!--SINGLE IMAGE-->
    <div ng-if="!product.xp.additionalImages || !product.xp.additionalImages.length">
        <div class="thumbnail" style="max-width: 400px; height: auto; margin: 0 auto;" ng-if="!product.xp.additionalImages || !product.xp.additionalImages.length">
            <img class="img-responsive" alt="{{product.xp.image.Name || 'Product Image'}}"
                    ng-src="{{product.xp.image.URL || 'http://placehold.it/600x600?text=' + product.Name}}" ng-click="openImageModal(product.xp.image, $index)">
        </div>
    </div>
</div>