<main id="Login" class="panel panel-default">
	<form class="panel-body" name="LoginForm" ng-submit="login.submit()">
		<h1 class="text-center">Login</h1>
		<div class="form-group">
			<label for="Username">Username</label>
			<input type="text" class="form-control" id="Username" ng-model="login.credentials.Username"/>
		</div>
		<div class="form-group">
			<label for="Password">Password</label>
			<input type="password" class="form-control" id="Password" ng-model="login.credentials.Password"/>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="LoginForm.$invalid">Submit</button>
		<a class="btn btn-link">Forgot Password?</a> <!--TODO: should this be functional in the Seed Project?-->
	</form>
</main>
