<article>
    <!--ui-bootstrap carousel example see http://angular-ui.github.io/bootstrap/#!#carousel for documentation--> 
    <div uib-carousel active="home.carousel.Settings.Active" interval="home.carousel.Settings.Interval" no-wrap="home.carousel.Settings.NoWrap">
        <div uib-slide ng-repeat="slide in home.carousel.Slides track by slide.ID" index="slide.ID">
            <img class="img-responsive" ng-src="{{slide.URL}}">
            <div class="carousel-caption">
                <h1>{{slide.Title}}</h1>
                <p class="lead">{{slide.SubText}}</p>
            </div>
        </div>
    </div>
    <br>
    <oc-product-carousel title="Featured Products" products="home.featuredProducts"></oc-product-carousel>
</article>