<header>
    <div class="carousel-wrapper hidden-xs">
        <div uib-carousel template-url="home/templates/carousel.html" active="0" interval="3000">
            <div class="carousel-caption">
                <h1 class="carousel-header">{{home.appname}}</h1>
                <p class="lead">Welcome to the {{home.appname}} Marketplace App</p>
                <button class="btn btn-knockout btn-lg" href="#" role="button">Explore Now <i class="fa fa-rocket" aria-hidden="true"></i></button>
            </div>
            <div uib-slide ng-repeat="slide in home.slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}">
            </div>
        </div>
    </div>
</header>
<article>
    <div class="homepage-cards">
        <div class="row">
            <div class="col-xs-4">
                <div class="c-homepage-card text-center">
                    <h3>SHOP GOLDWELL</h3>
                    <p>Welcome to the OrderCloud Marketplace App!</p>
                    <p><a class="btn btn-knockout-primary btn-large">View Products</a></p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="c-homepage-card text-center">
                    <h3>SHOP KMS</h3>
                    <p>Welcome to the OrderCloud Marketplace App!</p>
                    <p><a class="btn btn-knockout-primary btn-large">View Products</a></p>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="c-homepage-card text-center">
                    <h3>SHOP ALL</h3>
                    <p>Welcome to the OrderCloud Marketplace App!</p>
                    <p><a class="btn btn-knockout-primary btn-large">View Products</a></p>
                </div>
            </div>
        </div>
    </div>
</article>

<!--trial -->
<header>
    <h2 class="text-center">Explore Our Newest Products</h2>
</header>
<div class="grid-row">
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Cleansing-Conditioner-300ml.jpg">                <span class="tags"></span> </a>
            <a class="product--title" href="#" title="View">
                <h4>MOISTREPAIR CLEANSING CONDITIONER</h4>
            </a>
            <div class="product--brand c-product-card__description"> <a href="#" title="View">Gently cleanses and detangles damaged, coarse, curly or color-treated hair without an additional shampoo or conditioner.</a>
                <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP $27.21</div><div class="price--sell-price">$13.99</div></span></a>
            </div>
            <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Shampoo-300ml.jpg">                <span class="tags"></span> </a>
            <a class="product--title" href="#" title="View">
                <h4>MOISTREPAIR SHAMPOO</h4>
            </a>
            <div class="product--brand c-product-card__description"> <a href="#" title="View">Replenishes moisture and repairs damage.</a>
                <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $29.95</div><div class="price--sell-price">$18.49</div></span></a>
            </div>
            <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Revival-Creme-125ml.jpg">                <span class="tags"> <span class="availability almost-gone">NEW</span> </span>
            </a>
            <a class="product--title" href="#" title="View">
                <h4>MOISTREPAIR REVIVAL CREME</h4>
            </a>
            <div class="product--brand c-product-card__description"> <a href="#" title="View">Instantly improves manageability and adds body without weight.</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $29.95</div><div class="price--sell-price">$18.49</div></span></a>
            <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="/assets/images/demo-product-images/kms/KMS-HAIR_START_TAMEFRIZZ_Smoothing-Reconstructor-200ml.jpg">                <span class="tags"> </span> </a>
            <a class="product--title" href="#" title="View">
                <h4>TAMEFRIZZ SMOOTHING RECONSTRUCTOR</h4>
            </a>
            <div class="product--brand c-product-card__description"> <a href="#" title="View">Revives and softens even the most deeply-stressed or overworked hair and tames frizz.</a>                </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $29.95</div><div class="price--sell-price">$18.49</div></span>                </a>
            <button class="btn btn-knockout-primary btn-sm">View Product Details</button>

        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Nullam non ipsum tincidunt, congue mauris a</a>
            <div class="product--brand"> <a href="#" title="View">by Nam in tincidunt</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--sell-price">$29.99</div></span> </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Pellentesque dictum</a>
            <div class="product--brand"> <a href="#" title="View">by Dictum</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--sell-price">$7.94</div></span> </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Integer tortor enim, gravida vel tempus iaculis</a>
            <div class="product--brand"> <a href="#" title="View">by Enim, gravida vel tempus iaculis</a> </div>
            <a class="product--price" href="#" title="View">
                <span class="product--price-inner"> <div class="price--sell-price">$39.99</div></span> </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Nam in tincidunt</a>
            <div class="product--brand"> <a href="#" title="View">by Dolor sit amet</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $24.95</div><div class="price--sell-price">$19.95</div></span>                </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Pellentesque dictum</a>
            <div class="product--brand"> <a href="#" title="View">by Enim, gravida vel tempus iaculis</a> </div>
            <a class="product--price" href="#" title="View">
                <span class="product--price-inner"> <div class="price--sell-price">$39.99</div></span> </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Integer tortor enim, gravida vel tempus iaculis</a>
            <div class="product--brand"> <a href="#" title="View">by Enim, gravida vel tempus iaculis</a> </div>
            <a class="product--price" href="#" title="View">
                <span class="product--price-inner"> <div class="price--sell-price">$79.99</div></span> </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> <span class="availability almost-gone">Almost Gone</span>                </span>
            </a> <a class="product--title" href="#" title="View">Pellentesque dictum</a>
            <div class="product--brand"> <a href="#" title="View">by Non ipsum tincidunt</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $143.00</div><div class="price--sell-price">$79.99</div></span>                </a>
        </div>
    </div>
    <div class="product">
        <div class="product--card">
            <a class="product--image" href="#" title="View"> <img class="img-responsive" src="https://placehold.it/257x210"> <span class="tags"> </span> </a> <a class="product--title"
                href="#" title="View">Nullam non ipsum tincidunt, congue mauris a</a>
            <div class="product--brand"> <a href="#" title="View">by Dolor sit amet</a> </div>
            <a class="product--price" href="#" title="View"> <span class="product--price-inner"> <div class="price--rrp">MSRP: $44.85</div><div class="price--sell-price">$16.95</div></span>                </a>
        </div>
    </div>


<article>
    <!--<div class="grid-row">
        <div class="row">
            <div class="col-xs-3">
                <div class="product">
                    <div class="product--card">
                        <img class="product--image img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Cleansing-Conditioner-300ml.jpg">
                        <h4 class="c-product-card__name">MOISTREPAIR CLEANSING CONDITIONER</h4>
                        <p class="c-product-card__description">Gently cleanses and detangles damaged, coarse, curly or color-treated hair without an additional
                            shampoo or conditioner.</p>
                        <div class="c-product-card__price">$13.99</div>
                        <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="product">
                    <div class="product--card">
                        <img class="product--image img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Revival-Creme-125ml.jpg">
                        <h4 class="c-product-card__name">MOISTREPAIR REVIVAL CREME</h4>
                        <p class="c-product-card__description">Instantly improves manageability and adds body without weight.</p>
                        <div class="c-product-card__price">$13.99</div>
                        <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
                    </div>
                </div>
            </div>
<div class="col-xs-3">
                <div class="product">
                    <div class="product--card">
                        <img class="product--image img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Cleansing-Conditioner-300ml.jpg">
                        <h4 class="c-product-card__name">MOISTREPAIR CLEANSING CONDITIONER</h4>
                        <p class="c-product-card__description">Gently cleanses and detangles damaged, coarse, curly or color-treated hair without an additional
                            shampoo or conditioner.</a>
                        </p>
                        <div class="c-product-card__price">$13.99</div>
                        <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="product">
                    <div class="product--card">
                        <img class="product--image img-responsive" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Cleansing-Conditioner-300ml.jpg">
                        <h4 class="c-product-card__name">MOISTREPAIR CLEANSING CONDITIONER</h4>
                        <p class="c-product-card__description">Gently cleanses and detangles damaged, coarse, curly or color-treated hair without an additional
                            shampoo or conditioner.</a>
                        </p>
                        <div class="c-product-card__price">$13.99</div>
                        <button class="btn btn-knockout-primary btn-sm">View Product Details</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


</article>-->

    <article>

        <div class="row flex-me">
            <div class="col-xs-3">
                <div class="c-homepage-product">
                    <img class="img-responsive c-product-card__img" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Cleansing-Conditioner-300ml.jpg">
                    <div class="c-product-card__body">
                        <h4 class="c-product-card__name">MOISTREPAIR CLEANSING CONDITIONER</h4>
                        <p class="c-product-card__description">Gently cleanses and detangles damaged, coarse, curly or color-treated hair without an additional
                            shampoo or conditioner.</p>
                        <div class="clearfix">
                            <h4 class="c-product-card__price">$26.16</h4>
                            <button class="btn btn-knockout-goldwell btn-sm">View Product Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="c-homepage-product">
                    <img class="img-responsive c-product-card__img" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Revival-Creme-125ml.jpg">
                    <div class="c-product-card__body">
                        <h4 class="c-product-card__name">MOISTREPAIR REVIVAL CREME</h4>
                        <p class="c-product-card__description">Instantly improves manageability and adds body without weight.</p>
                        <div class="clearfix">
                            <h4 class="c-product-card__price">$26.16</h4>
                            <button class="btn btn-knockout-goldwell btn-sm">View Product Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="c-homepage-product">
                    <img class="img-responsive c-product-card__img" src="assets/images/demo-product-images/kms/KMS-HAIR_START_MOISTREPAIR_Shampoo-300ml.jpg">
                    <div class="c-product-card__body">
                        <h4 class="c-product-card__name">MOISTREPAIR SHAMPOO</h4>
                        <p class="c-product-card__description">Replenishes moisture and repairs damage.</p>
                        <div class="clearfix">
                            <h4 class="c-product-card__price">$26.16</h4>
                            <button class="btn btn-knockout-goldwell btn-sm">View Product Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="c-homepage-product">
                    <img class="img-responsive c-product-card__img" src="/assets/images/demo-product-images/kms/KMS-HAIR_START_TAMEFRIZZ_Smoothing-Reconstructor-200ml.jpg">
                    <div class="c-product-card__body">
                        <h4 class="c-product-card__name">TAMEFRIZZ SMOOTHING RECONSTRUCTOR</h4>
                        <p class="c-product-card__description">Revives and softens even the most deeply-stressed or overworked hair and tames frizz.</p>
                        <div class="clearfix">
                            <h4 class="c-product-card__price">$26.16</h4>
                            <button class="btn btn-knockout-goldwell btn-sm">View Product Details</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>