<article>
    <header class="jumbotron text-center">
        <h1>Welcome to Cafe Rio!</h1>
        <p>Everyting you need in one place</p>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
    </header>
</article>
<div class="row top-buffer">
    <div class="col-sm-12">
        <h1>Welcome to Cafe Rio store!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus magna turpis, vel facilisis libero varius id. Phasellus lacinia rutrum pharetra. Nam convallis quam quis metus mattis finibus. Praesent bibendum ex nibh, vitae sodales ligula euismod et. In et metus arcu. Quisque eu tincidunt eros, ac convallis neque. Pellentesque ac ex sit amet purus sodales commodo vitae ac nunc.</p>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-sm-4">
        <div class="homepage-card">
            <h4>Customer Service</h4>
            <p><i>Order Entry, Parts Research, and Product Returns</i></p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="homepage-card">
            <h4>Corporate Team</h4>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="homepage-card">
            <h4>Your Contact</h4>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-sm-12">
        <div class="alert alert-info" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus magna turpis, vel facilisis libero varius id. Phasellus lacinia rutrum pharetra. Nam convallis quam quis metus mattis finibus. Praesent bibendum ex nibh, vitae sodales ligula euismod et. In et metus arcu. Quisque eu tincidunt eros, ac convallis neque. Pellentesque ac ex sit amet purus sodales commodo vitae ac nunc. Etiam finibus ante quis libero imperdiet condimentum.</div>
    </div>
</div>
