<form name="myPaymentsCreditCardCreateModalForm" ng-submit="editCreditCard.submit()" cg-busy="editCreditCard.loading">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="editCreditCard.cancel()"><span
                aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit your
            {{editCreditCard.creditCard.CardType}}...{{editCreditCard.creditCard.PartialAccountNumber}}</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="row">
                <div class="form-group col-xs-12">
                    <label for="cardHolderNameInput">Card Holder Name</label>
                    <input id="cardHolderNameInput"
                           class="form-control"
                           type="text"
                           ng-model="editCreditCard.creditCard.CardholderName">
                </div>

            </div>
            <div class="row">

                <div class="form-group col-xs-6">
                    <label for="creditCardExpirationMonth">Expiration Month</label>
                    <select id="creditCardExpirationMonth"
                            class="form-control"
                            required
                            ng-model="editCreditCard.creditCard.ExpirationMonth"
                            ng-options="month.string as month.string for month in editCreditCard.creditCardInfo.ExpirationMonths">
                        <!--ng-change="editCreditCard.expirationDateChange(this.$index)"-->
                    </select>
                </div>
                <div class="form-group col-xs-6">
                    <label for="creditCardExpirationYear">Expiration Year</label>
                    <select id="creditCardExpirationYear"
                            class="form-control"
                            required
                            ng-model="editCreditCard.creditCard.ExpirationYear"
                            ng-options="year as year for year in editCreditCard.creditCardInfo.ExpirationYears">
                        <!--ng-change="checkoutPayment.expirationDateChange(this.$index)"-->
                    </select>
                </div>


            </div>
    </div>
    </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block"
                ng-disabled="myPaymentsCreditCardCreateModalForm.$invalid">Save
        </button>
    </div>
</form>