<article id="myPayments">
    <div >
        <!--PERSONAL CREDIT CARDS-->
        <button class="btn btn-primary pull-right" ng-click="myPayments.createCreditCard()"><i
                class="fa fa-plus-circle"></i> New Credit Card
        </button>
        <h3><i class="fa fa-credit-card"></i> Personal Credit Cards</h3>
        <hr>
        <div class="panel panel-default" ng-repeat="creditCard in myPayments.personalCreditCards.Items" cg-busy="myPayments.loading[$index]">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2 col-sm-1 text-center">
                        <i class="fa fa-2x {{creditCard.CardType | faCreditCard}}"></i>
                    </div>
                    <div class="col-xs-6 col-sm-8">
                        <b>{{creditCard.CardholderName}}</b> <br ng-if="creditCard.CardholderName">
                        <span class="text-muted">{{'XXXX-XXXX-XXXX-' + creditCard.PartialAccountNumber}}</span><br>
                        <small class="text-muted">Expires On: {{creditCard.ExpirationDate | date:'MM/yy'}}</small>
                    </div>
                    <div class="col-xs-4 col-sm-3 text-right">
                        <a href="" ng-click="myPayments.delete(this)">Delete</a> |
                        <a href="" ng-click="myPayments.edit(this)">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-matches" ng-if="!myPayments.personalCreditCards.Items.length">
            You have not created any personal credit cards. <br>
            <a href="" ng-click="myPayments.createCreditCard()">Create one now!</a>
        </div>
    </div>
    <br ng-if="myPayments.personalSpendingAccounts.Items.length">
    <div ng-if="myPayments.personalSpendingAccounts.Items.length">
        <h3><i class="fa fa-money"></i> Available Spending Accounts</h3>
        <hr>
        <div class="panel panel-default" ng-repeat="spendingAccount in myPayments.personalSpendingAccounts.Items">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <b>{{spendingAccount.Name}}</b>
                        <div class="text-muted">
                            <small ng-if="spendingAccount.StartDate && spendingAccount.EndDate">
                                Lifetime: {{spendingAccount.StartDate | date:'shortDate'}} - {{spendingAccount.EndDate | date :'shortDate'}}
                            </small>
                            <small ng-if="spendingAccount.StartDate && !spendingAccount.EndDate">
                                Made Available On: {{spendingAccount.StartDate | date:'shortDate'}}
                            </small>
                            <small ng-if="!spendingAccount.StartDate && spendingAccount.EndDate">
                                Expires On: {{spendingAccount.EndDate | date :'shortDate'}}
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <!--TODO: remove the inline style here-->
                        <p style="margin:0;" class="lead text-primary" ng-if="spendingAccount.Balance">{{spendingAccount.Balance | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br ng-if="myPayments.giftCards.Items.length">
    <div ng-if="myPayments.giftCards.Items.length">
        <h3><i class="fa fa-gift"></i> Available Gift Cards</h3>
        <hr>
        <div class="panel panel-default" ng-repeat="giftCard in myPayments.giftCards.Items">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <b>{{giftCard.Name}}</b><br>
                        <span>Redemption Code: <span class="text-primary">{{giftCard.RedemptionCode}}</span></span>
                        <div class="text-muted">
                            <small ng-if="giftCard.StartDate && giftCard.EndDate">
                                Lifetime: {{giftCard.StartDate | date:'shortDate'}} - {{giftCard.EndDate | date :'shortDate'}}
                            </small>
                            <small ng-if="giftCard.StartDate && !giftCard.EndDate">
                                Made Available On: {{giftCard.StartDate | date:'shortDate'}}
                            </small>
                            <small ng-if="!giftCard.StartDate && giftCard.EndDate">
                                Expires On: {{giftCard.EndDate | date :'shortDate'}}
                            </small>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <p style="margin:0;" class="lead text-primary" ng-if="giftCard.Balance">{{giftCard.Balance | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</article>