<form name="myPaymentsCreditCardCreateModalForm" ng-submit="editCreditCard.submit()" cg-busy="editCreditCard.loading">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="editCreditCard.cancel()"><span
                aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit your
            {{editCreditCard.creditCard.CardType}}...{{editCreditCard.creditCard.PartialAccountNumber}}</h3>
    </div>
    <div class="modal-body">
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cardHolderNameInput">Card Holder Name</label>
                    <input type="text"
                           class="form-control"
                           ng-model="editCreditCard.creditCard.CardholderName"
                           disable-validation-message="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="creditCardNumberInput">Card Number</label>
                    <input type="text"
                           class="form-control"
                           ng-model="editCreditCard.creditCard.CardNumber"
                           payments-validate="card"
                           payments-format="card"
                           payments-type-model="editCreditCard.creditCard.CardType"
                           ng-class="editCreditCard.creditCard.CardType"
                           disable-validation-message=""/>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-group">
                        <label for="cardCode">Security Code</label>
                        <input type="text"
                               class="form-control"
                               ng-model="editCreditCard.creditCard.CardCode"
                               payments-validate="cvc"
                               payments-format="cvc"
                               payments-type-model="type"
                               disable-validation-message=""/>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="creditCardExpirationMonth">Expiration Month</label>
                    <select id="creditCardExpirationMonth"
                            class="form-control"
                            required
                            ng-model="editCreditCard.creditCard.ExpirationMonth"
                            ng-options="month.string as month.string for month in editCreditCard.creditCardInfo.ExpirationMonths">
                        <!--ng-change="createCreditCard.expirationDateChange(this.$index)"-->
                    </select>
                </div>
                <div class="form-group col-xs-3">
                    <label for="creditCardExpirationYear">Expiration Year</label>
                    <select id="creditCardExpirationYear"
                            class="form-control"
                            required
                            ng-model="editCreditCard.creditCard.ExpirationYear"
                            ng-options="year as year for year in editCreditCard.creditCardInfo.ExpirationYears">
                        <!--ng-change="checkoutPayment.expirationDateChange(this.$index)"-->
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-block" ng-disabled="myPaymentsCreditCardCreateModalForm.$invalid">Save</button>
    </div>
</form>

