<!--Multiple Payments, Multiple Types View-->
<div ng-form="OCPayments">
	<div ng-repeat="payment in payments.Items">
		<div class="row">
			<div ng-class="{'col-xs-10 col-sm-11': payments.Items.length > 1, 'col-xs-12': payments.Items.length == 1}">
				<fieldset class="form-group">
					<label for="paymentAmount">Amount</label>
					<input id="paymentAmount" name="{{'paymentAmount' + $index}}" class="form-control" type="number" ng-model="payment.Amount" ng-max="payment.MaxAmount" ng-model-options="{allowInvalid:true, debounce: 1200}" ng-change="updatePaymentAmount(this)" required>
				</fieldset>
				<oc-payment order="order" payment="payment" methods="methods" payment-index="$index" exclude-options="excludeOptions"></oc-payment>
			</div>
			<div class="col-xs-2 col-sm-1 text-right" ng-if="payments.Items.length > 1">
				<button type="button" class="btn btn-danger" ng-click="removePayment(this)" uib-tooltip="Remove Payment" tooltip-placement="left">
					<i class="fa fa-trash-o"></i>
					<span class="sr-only">Remove Payment</span>
				</button>
			</div>
		</div>
		<hr ng-if="!$last">
	</div>
	<button type="button" class="btn btn-block btn-default" ng-click="addNewPayment(true)" ng-if="canAddPayment">Add New Payment</button>
</div>