<article>
	<h2 class="page-header">
		Order Submitted <br>
		<small>Thank you for your order. Check your <a href="" ui-sref="orderDetail({orderid:checkoutConfirmation.order.ID})">order history</a> to track your delivery!</small>
	</h2>
	<div class="row">
		<div class="col-md-5">
			<h5>Order ID: <span class="pull-right">{{checkoutConfirmation.order.ID}}</span></h5>
			<h5>Date Submitted: <span class="pull-right">{{checkoutConfirmation.order.DateSubmitted | date:'short'}}</span></h5>
			<h5>Subtotal: <span class="pull-right">{{checkoutConfirmation.order.Subtotal | currency}}</span></h5>
			<h5 ng-if="checkoutConfirmation.order.ShippingCost" class="text-muted">Shipping: <span class="pull-right"> + {{checkoutConfirmation.order.ShippingCost | currency}}</span></h5>
			<h5 ng-repeat="promotion in checkoutConfirmation.promotions" class="text-danger">
				{{promotion.Code}}
				<span class="pull-right">- {{promotion.Amount | currency}}</span></h5>
			<hr>
			<h4>Total: <b class="pull-right text-primary">{{checkoutConfirmation.order.Total | currency}}</b></h4>
			<hr>
			<h4>
				<ng-pluralize count="checkoutConfirmation.payments.length"
							  when="{
								  '1': 'Payment',
								  'other': '{} Payments'
							  }"></ng-pluralize>
			</h4>
			<hr>
			<div ng-repeat="payment in checkoutConfirmation.payments">
				<p>{{payment.Type | humanize}} <b class="pull-right text-primary">{{payment.Amount | currency}}</b></p>

				<p ng-if="payment.xp.PONumber"><b>PO#:</b> {{payment.xp.PONumber}}</p>

				<p ng-if="payment.Type == 'CreditCard'">
					<i style="font-size:1.3em;" class="fa {{payment.Details.CardType | faCreditCard}} pull-left"></i>
					<span class="text-muted">XXXX-XXXX-XXXX-</span>{{payment.Details.PartialAccountNumber}}
				</p>

				<p ng-if="payment.Type == 'SpendingAccount'">
					{{payment.Details.Name}} <br>
					<small><span class="text-muted">Remaining Balance:</span> {{payment.Details.Balance | currency}}</small>
				</p>
				<hr ng-if="!$last">
			</div>
			<hr class="visible-xs visisble-sm">
		</div>
		<div class="col-md-7">
			<div class="row">
				<div class="col-sm-6">
					<h5>Delivery Address</h5>
					<div class="panel panel-default">
						<div class="panel-body">
							<p ng-bind-html="checkoutConfirmation.shippingAddress | address:'full'"></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h5>Billing Address</h5>
					<div class="panel panel-default">
						<div class="panel-body">
							<p ng-bind-html="checkoutConfirmation.billingAddress | address:'full'"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<h4>
		<ng-pluralize count="checkoutConfirmation.order.LineItemCount"
					  when="{
							'1': '1 Line Item',
							'other': '{} Line Items'
						}"></ng-pluralize>
	</h4>
	<hr>
	<div class="row  hidden-xs c-line-item__header">
		<div class="col-xs-3 col-sm-2"></div>
		<div class="col-xs-9 col-sm-10">
			<div class="row">
				<div class="col-sm-5 col-lg-6"><h6>Description</h6></div>
				<div class="col-sm-7 col-lg-6">
					<div class="row">
						<div class="col-xs-4"><h6 class="text-right">Price</h6></div>
						<div class="col-xs-4"><h6 class="text-center">Qty</h6></div>
						<div class="col-xs-4"><h6 class="text-right">Total</h6></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<hr>
		</div>
	</div>
	<div class="row c-line-item" ng-repeat="lineItem in checkoutConfirmation.lineItems.Items track by $index">
		<div class="col-xs-3 col-sm-2">
			<div class="thumbnail c-line-item__img">
				<img class="img-responsive" ng-src="{{lineItem.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}"
					 alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
			</div>
		</div>
		<div class="col-xs-9 col-sm-10">
			<div class="row c-line-item__info c-line-item--centered">
				<div class="col-sm-5 col-lg-6 c-line-item__info--top">
					<h3 class="c-line-item__name">
						<a href="#">{{lineItem.Product.Name}}</a>
					</h3>
					<small class="text-muted c-line-item__id">{{lineItem.ProductID}}</small>
					<ul class="c-line-item__spec-list" ng-if="lineItem.Specs.length > 0">
						<li class="c-line-item__spec" ng-repeat="spec in lineItem.Specs">
							<small>{{spec.Name}}:</small>
							<small>{{spec.Value}}</small>
						</li>
					</ul>
				</div>
				<div class="col-sm-7 col-lg-6 c-line-item__info--bottom">
					<div class="row  c-line-item--centered">
						<div class="col-xs-4">
							<h4 class="c-line-item__price text-right">{{lineItem.UnitPrice | currency}}</h4>
						</div>
						<div class="col-xs-4 text-center">
							<h4 class="c-line-item__qty-display ">
								{{lineItem.Quantity}}
							</h4>
							<small class="help-block" ng-if="lineItem.Product.QuantityMultiplier > 1">
								{{'x ' + lineItem.Product.QuantityMultiplier + (lineItem.Quantity ? (' (' + (lineItem.Quantity * lineItem.Product.QuantityMultiplier) + ')') : '')}}
							</small>
						</div>
						<div class="col-xs-4">
							<h4 class="c-line-item__total text-right">{{lineItem.LineTotal | currency}}</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<hr>
		</div>
	</div>

</article>
