<article>
    <h3>
        <div class="pull-right">
            <button ng-if="cart.lineItems.Items.length" ng-click="cart.cancelOrder(base.currentOrder)" class="btn btn-danger">Cancel Order</button>
            <button ui-sref="productBrowse.products" class="btn btn-default">Continue Shopping</button>
        </div>
        Shopping Cart
    </h3>
    <hr>
    <div class="no-matches" ng-if="!cart.lineItems.Items.length">You do not have any items in your cart.</div>
    <div class="row" ng-if="cart.lineItems.Items.length">
        <aside class="col-md-4 col-md-push-8">
            <div class="panel panel-default" hl-sticky anchor="top" offset-top="70" media-query="min-width: 992px" cg-busy="base.orderLoading">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Order Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <ng-pluralize count="cart.lineItems.Meta.TotalCount" when="{
							'1': '1 Item in Your Cart',
							'other': '{} Items in Your Cart'
						}"></ng-pluralize>
                    </p>
                    <h4>Subtotal: <span class="pull-right">{{base.currentOrder.Subtotal | currency}}</span></h4>
                    <hr>
                    <oc-add-promotion order="base.currentOrder"></oc-add-promotion>
                    <h5 ng-repeat="promotion in cart.promotions" class="text-danger">
                        {{promotion.Code}}
                        <a href="" ng-click="cart.removePromotion(base.currentOrder, this)">remove</a>
                        <span class="pull-right">- {{promotion.Amount | currency}}</span></h5>
                </div>
                <div class="panel-footer">
                    <button ng-if="cart.lineItems.Items.length > 0" type="button" ui-sref="checkout.shipping" class="btn btn-block btn-primary" ng-disabled="OrderLineItemForm.$invalid">Proceed to Checkout</button>
                </div>
            </div>
        </aside>
        <div class="col-md-8 col-md-pull-4">
            <form name="OrderLineItemForm">
                <div class="row  hidden-xs c-line-item__header">
                    <div class="col-xs-3 col-sm-2"></div>
                    <div class="col-xs-9 col-sm-10">
                        <div class="row">
                            <div class="col-sm-5 col-lg-6"><h6>Description</h6></div>
                            <div class="col-sm-7 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-3"><h6 class="text-right">Price</h6></div>
                                    <div class="col-xs-4"><h6 class="text-center">Qty</h6></div>
                                    <div class="col-xs-3"><h6 class="text-right">Total</h6></div>
                                    <div class="col-xs-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="row c-line-item" ng-repeat="lineItem in cart.lineItems.Items track by $index" cg-busy="cart.lineLoading[$index]">
                    <div class="col-xs-3 col-sm-2">
                        <div class="thumbnail c-line-item__img">
                            <img class="img-responsive" ng-src="{{lineItem.Product.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}"
                                alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-10">
                        <div class="row c-line-item__info c-line-item--centered">
                            <div class="col-sm-5 col-lg-6 c-line-item__info--top">
                                <h3 class="c-line-item__name">
                                    <a ui-sref="productDetail({productid: lineItem.Product.ID})">{{lineItem.Product.Name}}</a>
                                </h3>
                                <small class="text-muted c-line-item__id">{{lineItem.ProductID}}</small>
                                <ul class="c-line-item__spec-list" ng-if="lineItem.Specs.length > 0">
                                    <li class="c-line-item__spec" ng-repeat="spec in lineItem.Specs">
                                        <small>{{spec.Name}}:</small>
                                        <small>{{spec.Value}}</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-7 col-lg-6 c-line-item__info--bottom">
                                <div class="row  c-line-item--centered">
                                    <div class="col-xs-3">
                                        <h4 class="c-line-item__price text-right">{{lineItem.UnitPrice | currency}}</h4>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="c-line-item__qty-input">
                                            <oc-quantity-input lineitem="lineItem" order="base.currentOrder"></oc-quantity-input>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <h4 class="c-line-item__total text-right">{{lineItem.LineTotal | currency}}</h4>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="c-line-item__remove text-right">
                                            <button class="btn btn-xs btn-danger" type="button" ng-click="cart.removeItem(base.currentOrder, this)"><span class=""><i class="fa fa-close"></i></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="form-group">
            <button ng-if="cart.lineItems.Items.length > 0" type="button" ui-sref="checkout.shipping"
                    class="btn btn-block btn-primary hidden-lg hidden-md"
                ng-disabled="OrderLineItemForm.$invalid">Proceed to Checkout</button>
        </div>
</article>