<!--TODO: unecessary div added to account for flex bug on padding hack-->
<div>
    <!--PRODUCT IMAGE-->
    <div class="c-product-card__img-wrap">
        <a ui-sref="productDetail({productid: productCard.product.ID})">
            <img class="img-responsive c-product-card__img" ng-src="{{productCard.product.xp.image.URL || 'http://placehold.it/300x300'}}"/>
        </a>
    </div>
</div>
<div class="c-product-card__body">
    <!--PRODUCT INFO-->
    <span class="c-product-card__id" ng-if="productCard.product.Name">{{productCard.product.ID | limitTo: 8}}{{productCard.product.ID.length > 8 ? '...' : ''}}</span>
    <h5 class="c-product-card__name">{{productCard.product.Name || productCard.product.ID}}</h5>
    <span class="c-product-card__price"><b class="text-primary">{{productCard.product.PriceSchedule.PriceBreaks[0].Price | currency}}</b> <small class="text-muted">x {{productCard.product.PriceSchedule.PriceBreaks[0].Quantity}}</small></span>
    <!--ADD TO CART-->
    <fieldset class="form-group" ng-if="productCard.product.SpecCount > 0">
        <button type="button" class="btn btn-block btn-primary" ui-sref="productDetail({productid: productCard.product.ID})">Product Details</button>
    </fieldset>

    <form name="OCProductForm" class="c-product-card__add-to-cart-btn" prevent-click>
        <oc-add-to-cart product="productCard.product" order="productCard.currentOrder"></oc-add-to-cart>
    </form>    
    <!--<form ng-if="!(productCard.product.SpecCount > 0)" name="OCProductForm" class="c-product-card__add-to-cart" ng-submit="productCard.addToCart(OCProductForm)"
          prevent-click="">
        <oc-quantity-input product="productCard.product"></oc-quantity-input>
        <fieldset class="form-group c-product-card__add-to-cart-btn">
            <button type="submit" class="btn btn-block btn-primary">Add to Cart</button>
        </fieldset>
    </form>-->
</div>