<div ng-class="{'has-error': invalidExtension}">
    <figure class="thumbnail" ng-show="fileUploadObject.xp[fileUploadOptions.keyname || 'image'].URL">
        <img class="img-responsive" style="max-height:500px;" ng-src="{{fileUploadObject.xp[fileUploadOptions.keyname || 'image'].URL}}" alt="Product Image">
    </figure>
    <div>
        <button type="button" class="btn btn-default" ng-class="{'btn-block':!fileUploadObject.xp[fileUploadOptions.keyname || 'image'].URL}" ng-click="upload()">{{fileUploadObject.xp[fileUploadOptions.keyname || 'image'].URL  ? 'Replace file' : (fileUploadOptions.uploadText || 'Upload an image')}}</button>
        <button type="button" class="btn btn-danger" ng-click="remove()" ng-if="fileUploadObject.xp[fileUploadOptions.keyname || 'image'].URL">
            <i class="fa fa-trash"></i>
        </button>
    </div>
    <input class="ng-hide" name="upload" type="file" id="orderCloudUpload" />
    <span class="help-block error-msg" ng-show="invalidExtension">Invalid file type, please select another file.</span>
</div>