<form name="OrderCloudProductSearch" class="c-productsearch c-typeahead" ng-submit="$ctrl.onHardEnter($ctrl.searchTerm)" pretty-submit>
    <div class="form-group" ng-class="{open:noResults}">
        <input type="search"
                class="form-control"
                placeholder="Search Products..."
                ng-model="$ctrl.searchTerm"
                uib-typeahead="product as product.Name for product in $ctrl.getSearchResults()"
                disable-validation-message
                typeahead-append-to="'.c-typeahead__results'"
                typeahead-on-select="$ctrl.onSelect($item.ID)"
                typeahead-focus-first="false"
                typeahead-wait-ms="300"
                typeahead-no-results="noResults"
                typeahead-loading="loading"
                typeahead-template-url="productSearch/templates/productSearch.typeahead.html"
        />
        <button class="sr-only" type="submit" value="Search"></button>
        <div class="c-typeahead__results">
            <div class="c-typeahead__results--empty" ng-if="$ctrl.searchTerm && noResults">
                <span>No matches found</span>
            </div>
            <div class="c-typeahead__results--loading" ng-if="loading">
                <div class="indicator-container">
                    <div class="indicator">
                        <div class="animation">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
