<article id="myAddresses">
    <button class="btn btn-primary pull-right" ng-click="myAddresses.create()"><i class="fa fa-plus-circle"></i> Create New</button>
    <h3><i class="fa fa-map-marker"></i> Personal Addresses</h3>
    <hr>
    <div class="row">
        <div class="col-sm-6" ng-repeat="address in myAddresses.list.Items">
            <div class="panel panel-default" cg-busy="myAddresses.loading[$index]">
                <div class="panel-body">
                    <div class="pull-right">
                        <a ng-click="myAddresses.delete(this)">Delete</a> |
                        <a ng-click="myAddresses.edit(this)">Edit</a>
                    </div>
                    <p ng-bind-html="address | address:'full'"></p>
                </div>
            </div>
        </div>
        <div class="no-matches" ng-if="!myAddresses.list.Items.length">
            You have not created any personal addresses. <br>
            <a ng-click="myAddresses.create()">Create one now!</a>
        </div>
    </div>
</article>