<div id="QuantityInput">
    <div class="form-group" ng-if="content == 'product'">
        <label for="itemQuantity" ng-if="label">{{label}}</label>
        <input id="itemQuantity"
               name="itemQuantity"
               type="number"
               ng-required="true"
               ng-if="!item.PriceSchedule.RestrictedQuantity"
               class="form-control text-center"
               ng-min="{{item.PriceSchedule.MinQuantity}}"
               ng-max="{{item.PriceSchedule.MaxQuantity}}"
               ng-model="item.Quantity"
               placeholder="Quantity">
        <select id="itemQuantity"
                name="itemQuantity"
                ng-required="true"
                ng-if="item.PriceSchedule.RestrictedQuantity"
                class="form-control text-center"
                ng-model="item.Quantity"
                ng-options="priceBreak.Quantity as priceBreak.Quantity for priceBreak in item.PriceSchedule.PriceBreaks"></select>
        <small class="help-block" ng-if="item.QuantityMultiplier > 1">
            {{'Quantity multiplier x ' + item.QuantityMultiplier + (item.Quantity ? (' (' + (item.Quantity * item.QuantityMultiplier) + ')') : '')}}
        </small>
    </div>
    <div class="form-group" ng-if="content == 'lineitem'">
        <label for="itemQuantity" ng-if="label">{{label}}</label>
        <input id="itemQuantity"
               name="itemQuantity"
               type="number"
               ng-required="true"
               ng-if="!item.Product.PriceSchedule.RestrictedQuantity"
               class="form-control text-center"
               ng-min="{{item.Product.PriceSchedule.MinQuantity}}"
               ng-max="{{item.Product.PriceSchedule.MaxQuantity}}"
               ng-model="item.Quantity"
               ng-model-options="{ debounce: 1000 }"
               ng-change="updateQuantity()"
               placeholder="Quantity">
        <select id="itemQuantity"
                name="itemQuantity"
                ng-required="true"
                ng-if="item.Product.PriceSchedule.RestrictedQuantity"
                class="form-control"
                ng-model="item.Quantity"
                ng-change="updateQuantity()"
                ng-options="priceBreak.Quantity as priceBreak.Quantity for priceBreak in item.Product.PriceSchedule.PriceBreaks"></select>
        <small class="help-block" ng-if="item.Product.QuantityMultiplier > 1">
            {{'x ' + item.Product.QuantityMultiplier + (item.Quantity ? (' (' + (item.Quantity * item.Product.QuantityMultiplier) + ')') : '')}}
        </small>
    </div>
</div>




