<div class="container">
  <div class="c-topnav">
    <div class="c-topnav__group--left">
      <!--BRAND-->
      <div class="c-topnav__item c-topnav__brand">
        <a ui-sref="home">
          {{application.name}}
        </a>
      </div>
      <!--PRODUCT / CATEGORY BROWSE-->
      <div class="c-topnav__item c-topnav__browse">
        <a ui-sref="productBrowse.products({page:'', favorites:'', sortBy:'', categoryid:''})"><i class="fa fa-cubes"></i> <span class="hidden-xs hidden-sm">Product Browse</span></a>
      </div>
      <div class="c-topnav__item c-topnav__browse">
        <a ui-sref="categoryBrowse({page:'', sortBy:'', categoryID:''})"><i class="fa fa-th"></i> <span class="hidden-xs hidden-sm">Category Browse</span></a>
      </div>
      <!--MOBILE PRODUCT SEARCH-->
      <div class="c-topnav__item c-topnav__search hidden-lg hidden-md">
        <a href="" ng-click="base.mobileSearch()"><i class="fa fa-search"></i></a>
      </div>
    </div>
    <!--DESKTOP PRODUCT SEARCH-->
    <ordercloud-product-search class="c-topnav__item c-topnav__search hidden-xs hidden-sm"></ordercloud-product-search>
    <div class="c-topnav__group--right">
      <!--CART-->
      <div class="c-topnav__item c-topnav__cart">
        <a ui-sref="cart"><i class="fa fa-shopping-cart c-topnav__cart-icon"></i> <span class="sr-only">Shopping Cart</span> <span class="badge c-topnav__cart-count" ng-bind="base.currentOrder.LineItemCount"></span></a>
      </div>
      <!--ACCOUNT-->
      <div class="c-topnav__item c-topnav__account" uib-dropdown ng-if="!base.currentUser.Anonymous">
        <a uib-dropdown-toggle role="button"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm">Account</span> <span class="caret hidden-xs"></span></a>
        <ul class="dropdown-menu-right" uib-dropdown-menu>
          <li ui-sref-active="active"><a ui-sref="account">My Account</a></li>
          <li class="divider"></li>
          <li ui-sref-active="active"><a ui-sref="myAddresses">Personal Addresses</a></li>
          <li ui-sref-active="active"><a ui-sref="myPayments">Payment Methods</a></li>
          <li ui-sref-active="active"><a ui-sref="favoriteProducts">Favorite Products</a></li>
          <li ui-sref-active="active"><a ui-sref="myOrders">Order History</a></li>
          <li class="divider"></li>
          <li><a ng-click="application.logout()">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
