<article>
    <h3>
        <div class="pull-right">
            <ordercloud-favorite-order current-user="base.currentUser" order="myOrderDetail.order"></ordercloud-favorite-order>
            <ordercloud-repeat-order original-order-id="myOrderDetail.order.ID" current-order-id="myOrderDetail.currentOrder.ID"></ordercloud-repeat-order>            <button ng-if="myOrderDetail.canCancel" ng-click="myOrderDetail.cancelOrder(myOrderDetail.order.ID)" class="btn btn-default"><span class="text-danger">Cancel Order</span></button>
        </div>
        <button ui-sref="^" class="btn btn-default"><i class="fa fa-arrow-left"></i></button>
        <b>Order ID:</b> {{myOrderDetail.order.ID}}
    </h3>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <h5>Date Submitted: <span class="pull-right">{{myOrderDetail.order.DateSubmitted | date:'short'}}</span></h5>
            <h5>Subtotal: <span class="pull-right">{{myOrderDetail.order.Subtotal | currency}}</span></h5>
            <h5 ng-if="myOrderDetail.order.ShippingCost" class="text-muted">Shipping: <span class="pull-right"> + {{myOrderDetail.order.ShippingCost | currency}}</span></h5>
            <h5 ng-if="myOrderDetail.order.TaxCost" class="text-muted">Tax: <span class="pull-right"> + {{myOrderDetail.order.TaxCost | currency}}</span></h5>
            <h5 ng-repeat="promotion in myOrderDetail.promotions" class="text-danger">
                {{promotion.Code}}
                <span class="pull-right">- {{promotion.Amount | currency}}</span></h5>
            <hr>
            <h4>Total: <b class="pull-right text-primary">{{myOrderDetail.order.Total | currency}}</b></h4>
            <hr>
            <h4>
                <ng-pluralize count="myOrderDetail.paymentList.length"
                              when="{
                          '1': 'Payment',
                          'other': '{} Payments'
                      }"></ng-pluralize>
            </h4>
            <hr>
            <div ng-repeat="payment in myOrderDetail.paymentList">
                <p>{{payment.Type | humanize}} <b class="pull-right text-primary">{{payment.Amount | currency}}</b></p>

                <p ng-if="payment.xp.PONumber"><b>PO#:</b> {{payment.xp.PONumber}}</p>

                <p ng-if="payment.Type == 'CreditCard'">
                    <i style="font-size:1.3em;" class="fa {{payment.Details.CardType | faCreditCard}} pull-left"></i>
                    <span class="text-muted">XXXX-XXXX-XXXX-</span>{{payment.Details.PartialAccountNumber}}
                </p>

                <p ng-if="payment.Type == 'SpendingAccount'">
                    {{payment.Details.Name}} <br>
                    <small><span class="text-muted">Remaining Balance:</span> {{payment.Details.Balance | currency}}</small>
                </p>
                <hr ng-if="!$last">
            </div>
        </div>
        <div class="col-sm-5">
            <h5>Delivery Address</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-bind-html="myOrderDetail.list.Items[0].ShippingAddress | address:'full'"></p>
                </div>
            </div>
            <h5>Billing Address</h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p ng-bind-html="myOrderDetail.order.BillingAddress | address:'full'"></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h4>
        <ng-pluralize count="myOrderDetail.order.LineItemCount"
                      when="{
							'1': '1 Line Item',
							'other': '{} Line Items'
						}"></ng-pluralize>
    </h4>
    <hr>
    <div class="row  hidden-xs c-line-item__header">
        <div class="col-xs-3 col-sm-2"></div>
        <div class="col-xs-9 col-sm-10">
            <div class="row">
                <div class="col-sm-5 col-lg-6"><h6>Description</h6></div>
                <div class="col-sm-7 col-lg-6">
                    <div class="row">
                        <div class="col-xs-4"><h6 class="text-right">Price</h6></div>
                        <div class="col-xs-4"><h6 class="text-center">Qty</h6></div>
                        <div class="col-xs-4"><h6 class="text-right">Total</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row c-line-item" ng-repeat="lineItem in myOrderDetail.list.Items track by $index">
        <div class="col-xs-3 col-sm-2">
            <div class="thumbnail c-line-item__img">
                <img class="img-responsive" ng-src="{{lineItem.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}"
                     alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
            </div>
        </div>
        <div class="col-xs-9 col-sm-10">
            <div class="row c-line-item__info c-line-item--centered">
                <div class="col-sm-5 col-lg-6 c-line-item__info--top">
                    <h3 class="c-line-item__name">
                        <a href="#">{{lineItem.Product.Name}}</a>
                    </h3>
                    <small class="text-muted c-line-item__id">{{lineItem.ProductID}}</small>
                    <ul class="c-line-item__spec-list" ng-if="lineItem.Specs.length > 0">
                        <li class="c-line-item__spec" ng-repeat="spec in lineItem.Specs">
                            <small>{{spec.Name}}:</small>
                            <small>{{spec.Value}}</small>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-7 col-lg-6 c-line-item__info--bottom">
                    <div class="row  c-line-item--centered">
                        <div class="col-xs-4">
                            <h4 class="c-line-item__price text-right">{{lineItem.UnitPrice | currency}}</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4 class="c-line-item__qty-display text-center">
                                <small class="text-muted">x</small> {{lineItem.Quantity}}
                            </h4>
                        </div>
                        <div class="col-xs-4">
                            <h4 class="c-line-item__total text-right">{{lineItem.LineTotal | currency}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
</article>