<article ui-view>
    <h3><i class="fa fa-clock-o"></i> Order History</h3>
    <hr>
    <!--====== SEARCH/FILTERS ======-->
    <form name="OrdersSearchForm" class="form-inline" ng-submit="myOrders.search()">
        <fieldset class="form-group">
            <input type="search" placeholder="Search order history..." ng-model="myOrders.parameters.search" class="form-control">
        </fieldset>
        <fieldset class="form-group" ng-class="{'text-center':application.$ocMedia('max-width:767px')}">
            <span ng-class="{'btn-group':myOrders.searchResults}">
                <button type="submit" class="btn btn-primary">Search</button>
                <button ng-if="myOrders.searchResults" ng-click="myOrders.clearSearch()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
            </span>
            <span ng-class="{'btn-group':myOrders.filtersApplied}">
                <button type="button" class="btn btn-default" ng-click="myOrders.showFilters = !myOrders.showFilters"><i class="fa fa-filter"></i> Filters</button>
                <button ng-if="myOrders.filtersApplied" ng-click="myOrders.clearFilters()" type="button" class="btn btn-default"><i class="fa fa-times"></i></button>
            </span>
        </fieldset>
    </form>
    <div class="row" style="margin-top:15px;" uib-collapse="!myOrders.showFilters">
        <div class="col-md-6">
            <div class="form-group" ng-if="application.$ocMedia('max-width:767px')">
                <label>Sort By:</label>
                <div ng-class="{'input-group':myOrders.sortSelection}">
                    <select placeholder="Sort" class="form-control" ng-model="myOrders.sortSelection" ng-change="myOrders.updateSort()">
                        <option value="">None</option>
                        <option value="ID">ID</option>
                        <option value="Status">Status</option>
                        <option value="DateCreated">Date Created/Submitted</option>
                    </select>
                    <div ng-if="myOrders.sortSelection" class="input-group-btn">
                        <button class="btn btn-default" ng-click="myOrders.reverseSort()">
                            <i class="fa fa-sort"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Order Status</label>
                        <select ng-model="myOrders.parameters.filters.Status" ng-change="myOrders.filter(true)" class="form-control">
                            <option value="">All</option>
                            <option value="Open">Open</option>
                            <option value="AwaitingApproval">Awaiting Approval</option>
                            <option value="Completed">Completed</option>
                            <option value="Declined">Declined</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label></label>
                    <div class="form-group">
                        <span ng-click="myOrders.toggleFavorites()">
                            <button class="btn btn-default form-control">
                                <i class="fa" ng-class="{'fa-heart-o text-muted': !myOrders.parameters.favorites, 'fa-heart text-danger': myOrders.parameters.favorites}"></i><b> My Favorites</b> 
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>From Date</label>
                        <input ng-if="!application.isTouchDevice" type="date" class="form-control" ng-blur="myOrders.filter(true)" ng-model="myOrders.parameters.from">
                        <input ng-if="application.isTouchDevice" uib-datepicker-popup datepicker-options="{maxDate:myOrders.parameters.to}" is-open="fromDate.open"  ng-change="myOrders.filter(true)" ng-click="fromDate.open = !fromDate.open" type="date" class="form-control" ng-model="myOrders.parameters.from">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>To Date</label>
                        <input ng-if="!application.isTouchDevice" type="date" class="form-control" ng-blur="myOrders.filter(true)" ng-model="myOrders.parameters.to">
                        <input ng-if="application.isTouchDevice" uib-datepicker-popup datepicker-options="{minDate:myOrders.parameters.from}" is-open="toDate.open" ng-change="myOrders.filter(true)" ng-click="toDate.open = !toDate.open" type="date" class="form-control" ng-model="myOrders.parameters.to">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== LIST ======-->
    <div class="no-matches" ng-if="!myOrders.list.Items.length">
        <b>No matches found.</b>
    </div>
    <div ng-if="myOrders.list.Items.length">
        <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? myOrders.list.Meta.ItemRange[0] : '1') + ' - ' +  myOrders.list.Meta.ItemRange[1] + ' of ' + myOrders.list.Meta.TotalCount + ' results'}}</b>
        <table class="table table-hover oc-table-responsive">
            <thead>
            <tr>
                <th></th>
                <th scope="col">
                    <a href="#" role="button" ng-click="myOrders.updateSort('ID')">
                        ID
                        <i class="fa fa-caret-down" ng-show="myOrders.parameters.sortBy == 'ID'"></i>
                        <i class="fa fa-caret-up" ng-show="myOrders.parameters.sortBy == '!ID'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="myOrders.updateSort('Status')">
                        Status
                        <i class="fa fa-caret-down" ng-show="myOrders.parameters.sortBy == 'Status'"></i>
                        <i class="fa fa-caret-up" ng-show="myOrders.parameters.sortBy == '!Status'"></i>
                    </a>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="myOrders.updateSort('DateCreated')">
                        Date Submitted
                        <i class="fa fa-caret-down" ng-show="myOrders.parameters.sortBy == 'DateCreated'"></i>
                        <i class="fa fa-caret-up" ng-show="myOrders.parameters.sortBy == '!DateCreated'"></i>
                    </a>
                </th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in myOrders.list.Items">
                <td class="actions-cell">
                    <ordercloud-favorite-order current-user="base.currentUser" order="order"></ordercloud-favorite-order>
                </td>
                <th scope="row">{{order.ID}}</th>
                <td data-title="Status">{{order.Status}}</td>
                <td data-title="Date Created/Submitted">{{(order.DateSubmitted ||  order.DateCreated) | date}}</td>
                <td data-title="Total">{{order.Total | currency}}</td>
                <td class="actions-cell">
                    <button class="btn btn-default btn-sm" ui-sref="myOrders.detail({orderid: order.ID})">View Order</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-if="application.$ocMedia('min-width:768px') && myOrders.list.Meta.TotalPages > 1">
            <uib-pagination boundary-links="myOrders.list.Meta.TotalPages > 5"
                            max-size="5" total-items="myOrders.list.Meta.TotalCount"
                            items-per-page="myOrders.list.Meta.PageSize"
                            ng-model="myOrders.list.Meta.Page"
                            ng-change="myOrders.pageChanged(myOrders.list.Meta.Page)"></uib-pagination>
        </div>
        <button type="button"
                ng-if="application.$ocMedia('max-width:767px')"
                class="btn btn-default btn-block btn-lg"
                ng-show="myOrders.list.Meta.Page < myOrders.list.Meta.TotalPages"
                ng-click="myOrders.loadMore()">Load More</button>
    </div>
</article>